:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547; /* Dark Grey Text */
  background-color: #ffffff; /* White Background */
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Ensure headings are visible */
h1, h2, h3, h4 {
  color: #2c3e50;
}